<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <h2 class="text-uppercase">Are you ready for shopping?</h2>
                    <p>Click the button below!</p>
                    <a class="primary-btn cta-btn" href="{{ path('category', {'id': 0}) }}">Shop now</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>