    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                {% for category in top_categories %}
                    <li><a href="{{ path('category', {id: category.id}) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>