.catalog {
    min-height: 200px;
    font-size: 1.2em;
    font-style: italic;
}

.catalog ul {
    margin-left: 15px;
    padding: 0 !important;
}

.catalog ul li:before {
  content: '--> ';
  color: #000;
}

.catalog ul li.active:before {
  font-weight: bold;
}

.catalog ul li a {
    color: black;
    display: inline-block;
}

.catalog ul li {
}

.catalog-0 li ul{
    display: none;
}

.catalog .active{
    display: block !important;
}